/*-------------------------------  registartion.html.twig ----------------------------------*/


.espace{
	height:  120px;
	background-color: #EEEEEE;

}


.panel-default .panel-body .captcha{
	padding-top:30px;
	padding-bottom:50px;
}

.test2{
	height: 200px;
}


.section-inscription{
	background-color: #EEEEEE;
}



